* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
  }
  body{
        width: 100vw;
    height: 100vh;
    background: url(1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  .bloc{
    display: flex;
    flex-wrap: wrap;
  }
  
  button{
    width: 120px;
    height: 40px;
    border-radius: 50%;
    

    
  }
  a{
    font-weight: 900;
    color: rgb(33, 13, 216);
  }
  
